<?xml version="1.0"?>
<!--
/**
 * Frontend Routes Configuration
 *
 * @category  Panth
 * @package   Panth_ProductAttachments
 * @author    Panth
 * @copyright Copyright (c) 2025 Panth
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="productattachments" frontName="productattachments">
            <module name="Panth_ProductAttachments"/>
        </route>
    </router>
</config>
